In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv('Book03.csv')
dataset.head(10)

,Unnamed: 0,input var 1,Input var 2,Input var 3,Input var 4,Input var 5,Output var
0,0,2.717009,181.480912,2.880877,182.256291,6.097493,507.954768
1,1,5.792300,161.239993,6.637942,132.347235,4.980192,1002.126052
2,2,8.298954,191.849024,8.991385,190.624377,6.763624,1658.567345
3,3,8.658552,161.796863,8.785851,112.552232,5.008003,1411.224846
4,4,2.543180,113.693609,2.951440,174.023291,3.095671,312.351589
5,5,3.624056,128.934579,3.731995,184.331818,3.605334,474.224679
6,6,8.684261,114.969121,8.740371,134.014636,3.135409,1001.647275
7,7,5.456623,162.274481,5.553534,187.283171,5.031979,893.333704
8,8,9.881387,154.314374,10.539762,106.545216,4.646955,1575.638348
9,9,5.343166,104.131847,5.788774,141.803697,2.813381,579.594727

In [4]:
X = dataset.iloc[:,1:6].values
y = dataset.iloc[:,6].values

In [5]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
y_test

array([ 300.12781115,  475.06272809,  428.65083248, 1861.96774888,
       1312.93813522,   49.33160199,  374.30072744, 1391.08048779,
        220.94441028,  286.19562276,  579.59472719, 1401.7330022 ,
        344.95055083,   61.74611309,  575.47373112, 1102.79230358,
        755.39556943, 1136.71246047,  584.46874249,   34.63892456,
        743.48959004,  963.50480916, 1067.00221492, 1594.72673748,
        507.95476805,  560.32831611,  569.99289658,  891.54062086,
        579.49296603,  734.71937862,  289.56657626,  506.51911385,
        908.95340724, 1095.22319852,  393.66938211,  787.89239415,
        412.70977457, 1383.59154059,  107.5870082 ,  483.33163285,
        295.19424673,  196.2679598 ,   88.4186547 , 1457.17617553,
       1529.05080943,  175.36150606,  119.75229283, 1352.65203691,
       1396.52636402, 1132.36048047,  158.31722611,  915.37494008,
        964.55976726,  411.94175451,  329.96359592, 1076.56512867,
        923.192878  ,   94.76481182, 1181.0651446 ,  783.96313012,
       1036.5044027 ,  673.86010635,  967.68810627, 1028.19206484,
        459.43890271,  624.84353507, 1549.92541854, 1320.02489714,
        874.80674323, 1186.39287388, 1541.42617006,  336.30523427,
        474.22467888,  491.85449494,  273.97215444, 1456.90665966,
        157.49603571,  320.15161298,  763.20028103, 2014.74391114])

In [6]:
#scaling the values
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from xgboost import XGBRegressor

In [13]:
model = XGBRegressor()
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [14]:
y_pred = model.predict(X_test)

In [15]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

         Actual    Predicted
0    300.127811   343.464935
1    475.062728   490.651520
2    428.650832   412.145599
3   1861.967749  1867.669434
4   1312.938135  1271.177002
5     49.331602    54.154037
6    374.300727   392.970276
7   1391.080488  1333.723633
8    220.944410   223.554733
9    286.195623   314.319763
10   579.594727   607.923584
11  1401.733002  1365.418945
12   344.950551   311.780792
13    61.746113    58.638618
14   575.473731   554.021057
15  1102.792304  1089.217529
16   755.395569   796.213928
17  1136.712460  1104.764038
18   584.468742   601.669678
19    34.638925    44.793827
20   743.489590   704.823059
21   963.504809   983.419495
22  1067.002215  1050.695190
23  1594.726737  1656.042236
24   507.954768   471.366669
25   560.328316   547.094299
26   569.992897   595.196167
27   891.540621   836.919922
28   579.492966   600.374512
29   734.719379   758.323608
..          ...          ...
50   158.317226   161.837738
51   915.374940   917.723206
52   964.559767  1012.069641
53   411.941755   413.883820
54   329.963596   356.373749
55  1076.565129  1043.259644
56   923.192878   943.012390
57    94.764812    95.980675
58  1181.065145  1118.493774
59   783.963130   828.399841
60  1036.504403  1040.712524
61   673.860106   698.748413
62   967.688106   963.357483
63  1028.192065  1062.658569
64   459.438903   480.849548
65   624.843535   614.656555
66  1549.925419  1521.945923
67  1320.024897  1263.597778
68   874.806743   916.991638
69  1186.392874  1102.198120
70  1541.426170  1608.139648
71   336.305234   354.368835
72   474.224679   471.961182
73   491.854495   499.994904
74   273.972154   303.336761
75  1456.906660  1404.274292
76   157.496036   144.645004
77   320.151613   337.994171
78   763.200281   754.805542
79  2014.743911  1906.146729

[80 rows x 2 columns]

In [16]:
from sklearn import metrics
l=metrics.r2_score(y_test, y_pred)
l

0.9950580252826308

In [17]:
print('r2_score : {}'.format(l))
print('algorithm : XGBRegression')

r2_score : 0.9950580252826308
algorithm : XGBRegression